/* header */
html, body {
    width: 100%;
    height: 100%;
    background-color: #ebe4de ;
    scroll-behavior: smooth;
}



.top-bar {
    width: 100%;
    padding: 5px;
    background-color: #ebe4de;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar a {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    animation: pulse 1.5s infinite;
    color:  rgb(173, 74, 90);
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}

.top-bar a:hover {
    text-decoration: underline;
}

.container-cabecalho {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: rgb(228, 139, 154);
    position: relative;
}

.container-img {
    flex: 1;
}

.container-cabecalho .container-img .img-logo{
    width: 8%;
    border-radius: 15px;
    position: relative;
    z-index: 9999;
}

.container-cabecalho .navigation-header{
    position: absolute;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    gap: 150px;

}

.container-cabecalho .navigation-header a{
    text-decoration: none;
    color: #f5f2ef;
    font-size: 25px;
}

.container-cabecalho .navigation-header a:hover {
    color: rgb(173, 74, 90);
    transition: 0.3s;
}

.carrinho #carrinho-btn {
    color: #f5f2ef ;
    font-size: 20px;
}

.carrinho #carrinho-btn:hover {
    color: rgb(173, 74, 90) ;
}

h2, h3, p, a {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-index {
    display: flex;
    justify-content: center;
    gap: 20%;
    align-items: center;
    padding: 10px;
    background-color: #d1cece;
}

.footer-index .atendimento-index {
    text-align: center;
}

.footer-index h2 {
    font-size: 18px;
    margin-bottom:10px ;
}

.footer-index .telefone-index {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.footer-index .telefone-index i {
    color: rgb(133, 58, 71);
}

.footer-index .telefone-index a {
    color: rgb(133, 58, 71);
}

.footer-index h3 {
    color: rgb(37, 36, 36);
}

.a-lock-index {
    display: flex;
    font-size: 15px;
    align-items: center;
    max-width: 60%;
}

.a-lock-index .fa-solid {
    color: rgb(173, 74, 90) ;
    font-size: 30px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(173, 74, 90);
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: 0.3s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}
