/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  --mdc-snackbar-container-color: #d81b60;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}
